version: "3.8"

services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fire_dynamics
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
